*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://gist.github.com/user-attachments/assets/c86a7d77-4df4-44c0-a43c-278982715469");
    background-repeat: no-repeat ;
    background-position: center;
    background-size: cover;
}

@media (max-width:767px) {
    body{
        background-position-x: 80%;
        background-size: cover;
    }
   
}

.container{
    position: relative;
    margin-top: -200px;
}

@media (max-width:767px) {
    .container{
        margin-top: -400px;
    }
} 

.clock{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 3px solid #323113;
    background-color: #ffffff;
    color: #323113;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset:10px;
    text-align: center;
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #75713b;
    z-index: 11111;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hrHand i{
    position: absolute;
    background-color: #75713b;
    width: 4px;
    height: 45px;
    border-radius: 8px;
    z-index: 11;
}
.minHand i{
    position: absolute;
    background-color: #75713b;
    width: 3px;
    height: 55px;
    border-radius: 8px;
    z-index: 11;
}
.secHand i{
    position: absolute;
    background-color: #75713b;
    width: 2px;
    height: 65px;
    border-radius: 8px;
    z-index: 11;
}
